.top-bar {
  padding: 0 1rem;
  margin: 0 0 2rem;
  overflow: auto;

  &-link,
  &-title {
    color: #aaa;
    cursor: pointer;
    float: left;
    font-size: 1rem;
    text-decoration: none;
    padding: 1rem 0;

    &:hover {
      text-decoration: none;
    }

    &.current-page,
    &.current-page:hover {
      cursor: default;
    }
  }

  &-link {
    font-weight: 200;
    margin-left: 1rem;

    &:hover,
    &.current-page,
    &.current-page:hover {
      color: #555;
    }
  }

  &-title {
    color: #555;
    font-weight: 600;
  }

  &-right {
    float: right;
  }
}

// fiddling with top-bar for small screens
.top-bar-btn-group,
.top-bar-text {
  float: left;
}
.top-bar-text {
  color: #aaa;
  float: left;
  font-size: 1rem;
  text-decoration: none;
  padding: 1rem 0;
  margin-left: .25rem;
}
.top-bar-btn-group {
  margin-left: 1rem;
}
.top-bar-btn-group > :first-child {
  margin-left: 0;
}
.top-bar-btn-group .top-bar-link {
  margin-left: .25rem;
}

@media screen and (max-width: 600px) {
  .top-bar .xs-hide { display: none }
  .top-bar-link,
  .top-bar-btn-group { margin-left: .5rem }
}

@media screen and (min-width: 84em) {
  .top-bar.top-bar-sticky {
    position: sticky;
    top: 0;
  }
}
